<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="topnav">
                <a class="active">Weather App</a>
                <a href="feedback">Send feedback</a>
            </div>
      <div class="container">
        <h2>Send Feedback</h2>
        <input type="tel" name="number" id="number" placeholder="Enter Phone Number...">
        <input type="text" name="msg" id="msg" placeholder="Enter Text Message...">
        <input type="button"  style="background-color: rgb(68, 112, 207);" id="button" value="Send Text" class="button button-primary">
      </div>
  <script src="js/feedback.js"></script>
</body>
</html>